@import "../app/global.scss";
.headerContainer {
	padding: 11px 50px; //overall height = 69.6 px
	// border: 1px red solid;
	background-color: white;

	@include mobile {
		padding: 11px 20px;
	}

	.headerContentConMobile {
		display: none;
		@include mobile {
			display: flex;
		}
		align-items: center;
		justify-content: space-between;
		background-color: white;
		transition: all 1s ease;
		& > :nth-child(1),
		& > :nth-child(2) {
			color: greenyellow;
			background-color: #7eaef3;
			padding: 4px 6px;
		}
		& > :nth-child(1) {
			color: black;
			background-color: transparent;
		}
		& > :nth-child(3) {
			// sidebar con
			// display: none;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 25vw;
			// width: 75vw;
			padding: 11px 20px;
			background-color: #ddd9ed;
			& > :first-child {
				padding: 4px 6px;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 25px;
				border-bottom: 1px lightslategray solid;
			}
			& > :last-child {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				gap: 20px;
				& > :first-child {
					padding-top: 25px;
				}
				a {
					text-decoration: none;
					color: black;
				}
				button {
					padding: 15px 20px;
					background-color: black;
					color: white;
					font-weight: bold;
					border-radius: 20px;
				}
			}
		}
	}

	.headerContentCon {
		// border: 1px red solid;
		@include mobile {
			display: none;
		}
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: white;
		& > :nth-child(1) {
			// logo con
			color: greenyellow;
			background-color: #4a29db;
			padding: 4px 6px;
			// padding: 15px;
			// button {
			// 	padding: 15px;
			// 	background-color: plum;
			// 	color: white;
			// 	font-weight: bold;
			// }
		}
		& > :nth-child(2) {
			display: flex;
			align-items: center;
			gap: 35px;
			@include mobile {
				display: none;
			}
			a {
				text-decoration: none;
				color: black;
			}
		}
		& > :nth-child(3) {
			button {
				padding: 15px 30px;
				background-color: black;
				color: white;
				font-weight: bold;
				border-radius: 30px;
			}
		}
	}
}
