/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_homeContainer___HpZL {
  padding: 15px 50px;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL {
    padding: 15px;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA {
  display: flex;
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #eeeafd;
  border-radius: 25px;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media ((min-width: 480px) and (max-width: 960px)) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA {
    flex-direction: column;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(1) {
  width: 50%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media ((min-width: 480px) and (max-width: 960px)) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(1) {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(1) {
    padding: 10px;
    width: 100%;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(1) > p {
  width: 100%;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(1) > div {
  width: 100%;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(1) > :nth-child(2) {
  font-size: 4rem;
  font-weight: bold;
  padding: 10px 0;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(1) > :nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(1) > :nth-child(3) > :first-child {
  cursor: pointer;
  padding: 2px 7px;
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 4px;
  background-color: black;
  color: white;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(1) > :nth-child(3) > :first-child > :last-child span {
  display: block;
  font-size: 14px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(1) > :nth-child(3) > :first-child > :last-child > :first-child {
  font-size: 8px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(1) > :nth-child(3) > :last-child > :first {
  font-size: 20px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(1) > :nth-child(3) > :last-child > :last-child {
  font-size: 13px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(2) {
  width: 50%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media ((min-width: 480px) and (max-width: 960px)) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(2) {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(2) {
    width: 100%;
    display: none;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(2) > div {
  padding: 40px;
  height: calc(100% - 80px);
  width: calc(100% - 80px);
  border-radius: 100%;
  border: 3px white dashed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(2) > div > div {
  padding: 25px;
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  border-radius: 100%;
  background-color: #dbd3f5;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(2) > div > div > div {
  position: absolute;
  left: 32%;
  top: 15%;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(2) > div > div > div > div {
  position: absolute;
  top: 10px;
  left: 8px;
  right: 8px;
  height: 380px;
  border-radius: 10px;
  overflow-y: scroll;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_1__sIrkA > :nth-child(2) > div > div > div > div::-webkit-scrollbar {
  display: none;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_2__LE8ZB,
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_6__oNBnL {
  padding: 100px 0;
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  gap: 10px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_2__LE8ZB > div,
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_6__oNBnL > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_2__LE8ZB > div p,
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_6__oNBnL > div p {
  max-width: 300px;
  word-spacing: 5px;
  line-height: 24px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_2__LE8ZB > :nth-child(1),
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_6__oNBnL > :nth-child(1) {
  font-size: 28px;
  font-weight: bold;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_3__HEcYb > :nth-child(1) p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 42px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_3__HEcYb > :nth-child(2) {
  padding: 20px 0;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_3__HEcYb > :nth-child(2) > div {
  height: 240px;
  display: flex;
  align-items: center;
  gap: 25px;
  overflow-x: scroll;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_3__HEcYb > :nth-child(2) > div::-webkit-scrollbar {
  display: none;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM {
  margin: 75px 0;
  display: flex;
  height: calc(100vh - 125px);
  width: 100%;
  background-color: #fcf6f0;
  border-radius: 25px;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM {
    flex-direction: column;
    height: -moz-max-content;
    height: max-content;
    align-items: center;
    justify-content: center;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > :first-child {
  width: 50%;
  padding: 25px;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > :first-child {
    width: 100%;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > :first-child > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > :first-child > div > * {
  width: 100%;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > :first-child > div > :first-child {
  font-weight: 400;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > :first-child > div > :nth-child(2) {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2px;
  word-spacing: 5px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > :first-child > div > :last-child {
  z-index: 2;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > :first-child > div > :last-child > div {
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
  border: 20px #f7f7f7 solid;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > :first-child > div > :last-child > div span {
  font-size: 80px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > :last-child {
  width: 50%;
  padding: 25px;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > :last-child {
    width: 100%;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > :last-child > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  max-width: 75%;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_4__5ShmM > :last-child > div P {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  word-spacing: 4px;
  text-justify: distribute;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_5__13eqA {
  margin: 75px 0;
  height: calc(100vh - 125px);
  width: 100%;
  border-radius: 25px;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_5__13eqA {
    max-height: 650px;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_5__13eqA > :first-child {
  padding: 10px 8%;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_5__13eqA > :first-child > :last-child {
  font-size: 32px;
  font-weight: bold;
  padding-top: 25px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_5__13eqA > :last-child {
  padding: 25px 20%;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_5__13eqA > :last-child {
    padding: 25px 20px;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_5__13eqA > :last-child .page_line__x_DSf {
  width: 2px;
  height: calc(100vh - 300px);
  background-color: #7756fd;
  position: absolute;
  left: 23%;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_5__13eqA > :last-child .page_line__x_DSf {
    left: 50px;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_5__13eqA > :last-child .page_points__lwkB0 {
  position: relative;
  height: calc(100vh - 300px);
  overflow-y: scroll;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_5__13eqA > :last-child .page_points__lwkB0::-webkit-scrollbar {
  width: 2px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_5__13eqA > :last-child .page_points__lwkB0::-webkit-scrollbar-thumb {
  background: #b8a6fd;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS {
  margin: 75px 0;
  padding: 25px 0;
  height: calc(100vh - 125px);
  width: 100%;
  background-color: #ebf8fe;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS {
    padding: 10px 0;
    justify-content: center;
  }
}
@media ((min-width: 480px) and (max-width: 960px)) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS {
    padding: 20px 0;
    justify-content: center;
    height: -moz-max-content;
    height: max-content;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :first-child {
  font-weight: 500;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :first-child {
    text-align: center;
  }
}
@media ((min-width: 480px) and (max-width: 960px)) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :first-child {
    text-align: center;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(2) {
  word-spacing: 5px;
  font-weight: bold;
  font-size: 42px;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(2) {
    font-size: 32px;
    text-align: center;
  }
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) {
    display: none;
  }
}
@media ((min-width: 480px) and (max-width: 960px)) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) {
    display: none;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3), .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) {
  width: 100%;
  padding: 0 20%;
  padding-bottom: 50px;
  margin: 50px 0;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) > div, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) > div .page_dotline___oOtl, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div .page_dotline___oOtl {
  position: absolute;
  border: 2px #f2e4b6 dashed;
  left: 0;
  right: 0;
  top: 49%;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) > div > :nth-child(2), .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) > div > :nth-child(3), .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) > div > :nth-child(4), .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) > div > :nth-child(5), .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(2), .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(3), .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(4), .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(5) {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #eac13c;
  z-index: 9;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) > div > :nth-child(2)::after, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) > div > :nth-child(3)::after, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) > div > :nth-child(4)::after, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) > div > :nth-child(5)::after, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(2)::after, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(3)::after, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(4)::after, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(5)::after {
  display: block;
  width: 325px;
  text-align: center;
  position: absolute;
  color: black;
  top: 50px;
  z-index: 99;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) > div > :nth-child(2)::after, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(2)::after {
  content: "Answer questions on your social skills.";
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) > div > :nth-child(3)::after, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(3)::after {
  content: "Let others anonymously answer the same questions about you.";
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(3) > div > :nth-child(4)::after, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(4)::after {
  content: "Find out where you and others see things the same way - and where not!";
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) {
  padding: 0 25%;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) {
    padding: 0 5px;
  }
}
@media ((min-width: 480px) and (max-width: 960px)) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) {
    padding: 0 40px;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div {
  padding: 100px 0;
  background-color: white;
  border-radius: 16px;
  position: relative;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div .page_solidline__z7ENT {
  position: absolute;
  border: 1px lightslategrey solid;
  left: 0;
  right: 0;
  top: 49%;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(2), .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(3), .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(4), .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(5) {
  height: 20px;
  width: 20px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(2)::after, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(3)::after, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(4)::after, .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(5)::after {
  display: inline-block;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  color: white;
  z-index: 99;
  padding: 10px 15px;
  border-radius: 16px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(2) {
  background-color: #6341ef;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(2)::after {
  content: "You";
  top: 25%;
  background-color: #6341ef;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(3) {
  background-color: #40c3ff;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(3)::after {
  content: "Anonymonus 1";
  top: 58%;
  background-color: #40c3ff;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(4) {
  background-color: #fdb238;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(4)::after {
  content: "Anonymonus 2";
  top: 25%;
  background-color: #fdb238;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(5) {
  background-color: rgb(139, 243, 139);
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_7__K9cxS > :nth-child(4) > div > :nth-child(5)::after {
  background-color: rgb(139, 243, 139);
  content: "Anonymonus 3";
  top: 58%;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_8__5hhRP {
  height: calc(100vh - 150px);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_8__5hhRP > * {
  max-width: 625px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_8__5hhRP > :nth-child(2) {
  font-size: 28px;
  font-weight: 700;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_8__5hhRP > :nth-child(3) {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_8__5hhRP > :nth-child(4) {
  padding: 20px 0;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_8__5hhRP button {
  color: white;
  background-color: black;
  font-weight: 600;
  padding: 12px 17px;
  border-radius: 18px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_8__5hhRP > :last-child {
  font-size: 12px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp {
  height: calc(100vh - 150px);
  padding: 0 50px;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp {
    padding: 0 20px;
    height: -moz-max-content;
    height: max-content;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :first-child {
  width: 100%;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :first-child > :first-child {
  color: black;
  font-size: 42px;
  font-weight: bold;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :first-child > :last-child {
  color: #6a47f8;
  font-size: 42px;
  font-weight: bold;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :first-child > :last-child {
    display: none;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :last-child {
  display: flex;
  max-height: calc(100vh - 275px);
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :last-child {
    flex-direction: column;
    max-height: -moz-max-content;
    max-height: max-content;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :last-child > :first-child {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :last-child > :first-child {
    width: 100%;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :last-child > :first-child > div {
  max-width: 500px;
  padding: 20px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :last-child > :first-child > div > :first-child {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :last-child > :first-child > div > :last-child {
  font-size: 16px;
  line-height: 24px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :last-child > :last-child {
  width: 40%;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :last-child > :last-child {
    width: 100%;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :last-child > :last-child > div {
  height: calc(100vh - 275px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: scroll;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :last-child > :last-child > div::-webkit-scrollbar {
  width: 5px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :last-child > :last-child > div::-webkit-scrollbar-track {
  background: transparent;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_9__3KxVp > :last-child > :last-child > div::-webkit-scrollbar-thumb {
  background: #b8a6fd; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners of the handle */
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI {
  padding: 50px;
  height: 400px;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI {
    padding: 20px;
    height: -moz-max-content;
    height: max-content;
  }
}
@media ((min-width: 480px) and (max-width: 960px)) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI {
    padding: 25px;
    height: -moz-max-content;
    height: max-content;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI > :first-child {
  padding-bottom: 50px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI > :first-child h1 {
  font-size: 40px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI > :last-child {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI > :last-child {
    flex-direction: column;
    gap: 15px;
  }
}
@media ((min-width: 480px) and (max-width: 960px)) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI > :last-child {
    gap: 20px;
    flex-wrap: wrap;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI > :last-child > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #fefbec;
  border-radius: 16px;
  transition: all 500ms ease;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI > :last-child > div li {
  font-size: 12px;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI > :last-child > div button {
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  padding: 12px 18px;
  border-radius: 18px;
  background-color: black;
  color: white;
  cursor: pointer;
  display: none;
}
@media (max-width: 480px) {
  .page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI > :last-child > div button {
    display: block;
  }
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI > :last-child > div:hover {
  background-color: #ffefd6;
  transition: all 1s ease;
}
.page_homeContainer___HpZL .page_homeContentContainer__1CyXI .page_box_10__fJoNI > :last-child > div:hover button {
  display: block;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/components/card.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.card_cardCon__mdX63 {
  height: 200px;
  width: 275px;
  min-width: 275px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
  transition: all 500ms ease-in;
}
.card_cardCon__mdX63:hover {
  transform: rotate(-5deg);
}
.card_cardCon__mdX63 > p {
  width: 100%;
}
.card_cardCon__mdX63 > :first-child {
  font-size: 28px;
  padding-bottom: 10px;
}
.card_cardCon__mdX63 > :nth-child(2) {
  font-size: 16px;
  font-weight: 600;
}
.card_cardCon__mdX63 > :last-child {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  text-justify: auto;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/components/sipoint.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.sipoint_sipointCon__x34Jp {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  max-width: 650px;
}
.sipoint_sipointCon__x34Jp::before {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #6c49fc;
  position: absolute;
  left: 11px;
  z-index: 99;
}
.sipoint_sipointCon__x34Jp > :first-child {
  font-weight: 600;
  padding-bottom: 15px;
}
.sipoint_sipointCon__x34Jp > :last-child {
  font-size: 16px;
  line-height: 24px;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/components/workwith.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.workwith_cardCon__pVzRr {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  height: 140px;
  width: 250px;
  min-width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
}
.workwith_cardCon__pVzRr > p {
  width: 100%;
}
.workwith_cardCon__pVzRr > :first-child {
  font-size: 16px;
  font-weight: 600;
}
.workwith_cardCon__pVzRr > :last-child {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  text-justify: auto;
}
